<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} · {{ .Site.Title }}{{ end }}</title>
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<link rel="icon" type="image/svg+xml" href="{{ "favicon.svg" | relURL }}">
{{ $style := resources.Get "css/style.css" | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ $chroma := resources.Get "css/chroma.css" | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $chroma.RelPermalink }}">
